<script>
  airportIconPath = <%=raw asset_path("airport.svg").to_json %>
  currentAirport = <%=raw @game.current_airport.to_json %>
  currentMission = <%=raw @game.current_mission.to_json %>
</script>

<div class="game" style="display: flex; height: 100vh; width: 100vw; background: white;">
  <div class="info" id="game-info" style="width: 50%; overflow: scroll;"></div>
  <div id="map" style="width: 50%;"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch("GOOGLE_MAPS_API_KEY") %>&libraries=&v=weekly"></script>
<script type="module" src="/buildless/game-entrypoint.js"></script>
