<!DOCTYPE html>
<html>
  <head>
    <title>Vimana</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="importmap">
      {
        "imports": {
          "@rails/actioncable": "https://cdn.skypack.dev/@rails/actioncable@^6.0.3-1",
          "@rails/ujs": "https://cdn.skypack.dev/@rails/ujs@^6.0.3",
          "preact": "https://cdn.skypack.dev/preact",
          "htm": "https://cdn.skypack.dev/htm",
          "turbolinks": "https://cdn.skypack.dev/turbolinks@^5.2.0"
        }
      }
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <script type="module" src="/buildless/application.js"></script>

    <style type="text/css">
      body {
        background: #050515;
      }

      .horizon {
        width: 100vw;
        height: 100vh;
        padding: 1rem;

        z-index: -1;
        position: absolute;
        top: 0;

        background-image: url('/buildless/images/horizon1.jpg');
        background-size: 100% auto;
        background-position: center bottom;
        background-repeat: no-repeat;

        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black, black);
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
